/.vscode
/lectures/lec9/froshims/__pycache__
/lectures/lec9/hello/__pycache__
/lectures/lec9/froshims5/__pycache__
/lectures/lec9/login/__pycache__
/lectures/lec9/store/__pycache__
/lectures/lec9/shows0/__pycache__