body {
    margin-left: 15%;
    margin-right: 15%;
}
header {
    padding-top: 3%;
    padding-bottom: 3%;
}
footer {
    padding-top: 3%;
}
.my_text_size {
    font-size: 20px;
}
main {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my_container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.my_container_blog {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5%;
}
.my_logo {
    position: relative;
    top: -2px;
}
.my_loading {
    position: relative;
    top: -7px;
}
.my_logos:hover {
    background-color: #d9d9d9;
    border-radius: 50%;
}